* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e1cec0;
}
#logo {
  width: 110px;
  height: 40px;
}
.list-group {
  display: flex;
  align-items: center;
  list-style: none;
  font-family: 'Dancing Script', cursive;
}
.list .list-group > li {
  margin-right: 15px;
  padding-right: 15px;
  color: #767556;
  font-weight: 700;
  font-size: 18px;
}
.list .list-group > li:not(:last-child) {
  border-right: 1px solid #767556;
}
.list .list-group > li:hover {
  color: #464526;
}
.content {
  background-color: #eddbce;
  height: 1200px;
}
footer {
  background-color: #e1cec0;
  font-family: 'Dancing Script', cursive;
  font-weight: 600;
  font-size: 20px;
  color: #767556;
  text-align: center;
  padding: 10px;
}